body {
  font-family: Sans-Serif;
  padding: 0px 10px;
}

h1 {
  margin-bottom: 0px;
}

.bus-status.on-time {
  color: green;
}
.bus-status.late {
  color: blue;
}
.bus-status.early {
  color: red;
}
.bus-status.unknown {
  color: orange;
}

.organisation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.organisation .header {
  display: flex;
  min-width: 400px;
  padding-top: 20px;
}

.organisation .header .title {
  line-height: 50px;
}

.organisation .header .title,
.organisation .header .arrow {
  height: 50px;
  line-height: 50px;
}

.organisation .header .title h2 {
  margin: 0;
  font-weight: normal;
}

.organisation .header .title {
  flex: 1;
}

.organisation .header .arrow {
  flex: 0 0 24px;
  background: url("../images/arrow_down.png") no-repeat center center;
}

.organisation .header .arrow.expanded {
  background-image: url("../images/arrow_up.png");
}

.organisation .bus-details {
  min-width: 400px;
}
.organisation .bus-details table {
  width: 100%;
  border-collapse: collapse;
}

.organisation .bus-details tr {
  border-top: 1px solid lightGray;
}

.organisation .bus-details tr:first-child {
  background-color: lightBlue;
}

.organisation .bus-details td,
.organisation .bus-details th {
  padding: 10px;
}

.organisation .notes textarea {
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
}

.organisation .notes input[type=button] {
  border-radius: 5px;
  border: 0px;
  padding: 10px;
  color: white;
  background-color: #85C1E9;
  cursor: pointer;
}

.organisation .notes input[type=button]:disabled {
  background-color: lightGray;
  cursor: default;
}