<!doctype html>
<html ng-app="busReports">
  <head>
    <title>Bus Reports</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/app.css">
	</head>
	<body>
    <div ng-controller="busReportsCtrl">
      <ul>
        <li ng-repeat="busService in busReports.data">
          {{busService.organisation}} - {{busService.date}}
          <table>
            <tr>
              <th>Bus ID</th>
              <th>Route Variant</th>
              <th>Status</th>
            </tr>
            <tr ng-repeat="bus in busService.busData">
              <td>{{bus.busId}}</td>
              <td>{{bus.routeVariant}}</td>
              <td class="bus-status" bus-status></td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
	</body>
</html>